.page_404 {
    padding: 40px 0;
    font-family: 'Arvo', serif;
}




.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #1677ff;
    margin: 20px 0;
    display: inline-block;
    border-radius: 12px;
}
