form{
    display: flex;
    flex-direction:column ;
}
form > p{
color: red;
margin: 0px;
}
.solider-list {
    margin-top: 10px; 
    flex-wrap: wrap;

}
input ,.gender-select{
    outline: 0;
    border-width: 0 0 1px;
  }
  input:focus, .gender-select:focus {
    border-color: blue;
  }
  .gender-select{
    border: none;
  }
  
    form>input{
      padding: 10px 0px;
    }