.bg-img{
      background-image: url('../../assets/cloudes.jpg') ;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.center{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    
}
