.bg-img{
    background-image: url('../../assets/cloudes.jpg') ;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    
}
.center{
    text-align: center;
    align-items: center;
    margin: 0 auto;
    
}

@media (max-width: 1800px) {
    .buttomPosition{
        position:absolute;
         bottom: -25%;
    }
  }
  
  @media  (max-width: 1200px) {
    .buttomPosition{
        position:absolute;
         bottom: -35%;
    }
  }
  @media  (max-width: 900px) {
    .buttomPosition{
        position:absolute;
         bottom: -50%;
    }
  }
