body {
  background: #6a11cb;

  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.login-card {
  border-radius: 1rem;
  min-width: 400px;
  width: 30%;
  background-color: #1e1e1e;
}

.login-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.login-header {
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: white;
}

.login-subheader {
  color: rgba(255, 255, 255, 0.45);
  margin-bottom: 2rem;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.sign-up-link {
  color: rgba(255, 255, 255, 0.45);
  margin-top: 2rem;
}