.modal-body {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
     /* width: 579px; */
  /* height: 700px; */
  padding: 27px 0 0;
  border-radius: 15px;
  box-shadow: 0 1px 11px 1px rgba(0, 0, 0, 0.12);
}
.modal-close-button{
    padding: 5px;
    cursor: pointer;
    font-size: large;
}

.solider-modal-footer,
.solider-modal-header {
    flex-shrink: 0;
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.12);
    display: flex;
}
.solider-modal-header{
    display: flex;
    align-items: center ;
    font-size: 14px;
    padding: 15px 10px !important;
}
.solider-modal-header .title-modal{
    font-weight: bold;
    font-size: 18px;
    display: block;


}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

select:hover {
    border-color: #888;
}

select:focus {
    border-color: #555;
}

option {
    border-bottom: solid 2px #000;
}

option:checked {
    background-color: #f1f1f1;
    font-weight: bold;

}

option:hover {
    font-weight: bold;
    background-color: red;

}

.text-right {
    margin: 3px;
    text-align: end;
}

.text-left {
    margin: 0px 3px;
    text-align: start;
}


.scroll-container {
    overflow-y: auto;
    border: 1px solid #ccc;
    border: none;
    margin: 10px 5px;
    max-height: 40vh;


}


.solider-list {
    display: flex;
    flex-wrap: 'wrap';
}

button {
    min-width: 100px;
    height: 27px;
    padding: 0 0.3px 0 2.7px;
    margin: 2px !important;
    border-radius: 5px !important;
    background: #ededf4cd;
    align-self: end;
    color: #000;
}


.solider-modal-footer{
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.iconBackground {
    border-radius: 6px;
    background: linear-gradient(180deg, #B869E1 0%, #DA8DF6 100%);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 10px;
  }
  

.ant-modal-content {
    border-radius: 50px;
    padding: 0px !important;
}

.container-modal {
    padding: 5px 25px;
}

.select-Sort-by {

    text-align: right;
    outline: none;
    border: none;
}
